#################### Python #####################
**/__pycache__/
**.egg**/
dist/
build/


#################### Daft-Exprt #####################
datasets
trainings/
tmp/
tmp_symbol_prosody/
wav2vec2_checkpoints/
scripts/style_bank/single/
scripts/benchmarks/manifests/
scripts/benchmarks/english/single_sentence.txt
outputs/
.cache/
DaftExprt_LJ_ESD_22kHz.pt
src/daft_exprt/vocoder/g_02500000_v1_uni
src/daft_exprt/vocoder/generator_v1_lj
daft_exprt_pack.tar.gz
scripts/style_bank/english/
DaftExprt_65000.pt
train.slurm
core
logs/
reaper_source/